*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
}
h1{
    font-size: 3.7em;
    width: 80%;
    padding: 2em 0 0.5em;
    margin: 0 auto;
    }
h2{
    font-size: 2em;
    line-height: 3em;
}
h3{
    font-size: 1.2em;
    font-weight: 800;
} 

p{
    font-weight: 600;
    font-size: 0.8em;
    padding-top: 1.5em;
}  
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* Header */
.header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 4em;
    z-index: 10;
    top: 0;
    left: 0;
}
.clearfix::after{    
    content: "";
    display: table;
    clear: both;
}
.col-logo{
    line-height: 3.8em;
    text-align: center;
}
#logo{
    width: 60%;
    vertical-align: middle;
}

/* Menu */
li.border-bottom, li.hover-menu{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    line-height: 3.8em;
    margin-right: 1em;  
}
.border-bottom a {
    text-decoration: none;
    color: black ;
    font-weight: 600;
    font-size: 0.8em;
}
li.border-bottom:hover{
    border-bottom: 2px solid grey;
}
.login{
    line-height: 4em;
    padding: 0 1em;
}
/* Pulsante Header */
.button{
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 0.5em 1.5em;
}
.button:hover{
    opacity:0.7;
}

/* Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
}
.description{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.jumbo-col-sx{
    width: 35%;
}
.jumbo-col-dx{
    max-width: 65%;
}

#jumbo{
    width: 70%;
    position: absolute;
}
.jumbo-col-sx>button{
     margin: 2em 0 1em 0;
    font-size: 0.9em;
}
.fa-arrow-down{
    font-size: 2em;
    color: black;
    margin: 1em 0 2em; 
}
.cancel-text{
   padding-top: 0;
   font-size: 0.7em;
}

/* Sezioni */
main{
    width: 100%;
    padding-top: 5em;
}
 
/* Prima Sezione */
.section{
    width: 70%;
    margin: 5em auto;
}

.checkbox{
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 50px ;
    line-height: 5em;
    vertical-align: middle;
    margin-right: 0.3em;
}
.checkbox:active{
    border: inset 5px #0061ff;
    cursor: pointer;
}
.checkbox-text{
    vertical-align: middle;
    line-height: 5em;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 1em;
}
/* Colonne */
.col-section{
    width: calc(92% / 3);
}
.col-center{
    margin: 0 4%;
}

/* Icone */
.fa-user{
    font-size: 1em;
}
.fa-building{
    font-size: 1em;
}
.fa-check{
    color: #0061ff;
}
.ico{
    width: 1em;
    margin-right: 1em;
}
/* Lista della section 1 */
.features{
    border: 1px solid lightgrey;
}
.col-title{
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    border: 1px solid lightgrey;
    line-height: 3em;
    vertical-align:middle;
}

/* Prima Lista */
.first-list li{
    list-style-type: none;
    margin: 0 auto;
    font-size: 0.7em;
    font-weight: 600;
    color: black;
    padding: 1.5em 0 0 0;
}
.first-list{
    padding: 0 1.8em;
}
.first-list li:first-child{
    font-size: 1.2em;
    font-weight: 800;
    padding-top: 2em;
}
.first-list li:nth-child(2){
    font-size: 0.8em;
    font-weight: 800;
    padding: 1em 0 0 0;
}
.first-list li:nth-child(3){
    font-size: 0.7em;
    font-weight: 600;
    color: silver;
    padding: 1em 0 0 0;
}
/* Pulsante fra le liste */
.features-button{       
    font-size: 0.8em;
    font-weight: 500;
}
.button-block{
    text-align: center;
    padding: 3em 0 2em;}

.line{
    color: lightgrey;
    width: 15%;
    margin: 1.5em 0 2em 2em ;
}
.features>p{
    padding: 0 2.5em;
}
.features>p>a{
    color: #0061ff;
}
/* Seconda lista */
.second-list{
    padding: 0 1.8em;
}
.second-list li{
    list-style-type: none;
    margin: 0 auto;
    font-size: 0.7em;
    font-weight: 600;
    color: black;
    padding: 1.5em 0 0 0;
}
.second-list li:first-child{
    font-size: 0.8em;
    font-weight: 800;
    padding-top: 1em;
}
.second-list li:last-child{
    padding-bottom: 10em;
}

/* Sezione 2 */
.bottom-col{
    width: 70%;
    margin: 0 auto;
}
.bottom-col-sx{
    width: 70%;
    display: inline-block;
}
.bottom-col-dx{
    width: 28%;
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;
}
.bottom-col-sx .first-list{
    padding-right:0;
}
.bottom-col-sx .first-list li:last-child{
    color: black;
    padding: 2.5em 0;
}
.bottom-col-dx .button{
    width: 100%;
}

/* Sezione 3 */
.s3-col-sx{
    width: 55%;
}
.s3-col-dx{
    width: 45%;
}
.s3-col-sx img{
    max-width: 100%;
}
.s3-col-dx{
    padding: 0 2em;
}
.white-button{
    background-color: white;
    border: solid 1px black;
    padding: 0.5em 1em;
    margin-top: 2em;
}
.white-button:hover{
    background-color: #0061ff;
    color: white;
    border: none;
}

/* Sezione 4 */
.col-section img{
    max-width: 100%;
}
/* Sezione 5 */
.large-section{
    width: 100%;
}
.title-section{ 
    width:70%;
    margin: 0 auto;
}
.title-section h2{
    line-height: 1.5em;
    width: 53%;
}
.section-5{
    margin-top: 2em;
}
.link-section-5{
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: underline;
    color: #0061ff;
}
.s5-col-sx, .s5-col-dx{
    width: 30%;
}
.row-1 img, .row-2 img{
    width: 100%; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
}
.square{
    width: 50%;
    position: relative;
}
.square::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
#square-1{    
    background-color: #a2d39b;
    border: solid 8px #d0e9cd;
}
#square-2{
    background-color: #61082b;
}
#square-3{
    background-color: #0093ce;
}
#square-4{
    background-color: #ff1c1c;
}

.invert{
    filter: invert(100%);
}
.s5-col-center{
    max-width: 40%; 
    max-height: 400px ; 
    overflow: auto;   
    background-color: blueviolet;
}
.content{
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}
.s5-col-center img{
    max-width: 30%;
    padding-bottom: 3em;
}
#square-5{
    background-color: #d5001f;
}
#square-6{
    background-color: #b4d0e7;
}
#square-7{
    background-color: #0d2481;
}
#square-8{
    background-color: #ffd830;
}

/* Sezione 6 */
.section6-title{
    width: 70%;
    margin: 0 auto;
}
.section6-title h2{
    line-height:1.5em;
   
}
.col-sx{
    width: 60%;
    display: inline-block;
}
.col-dx{
    width: 38%;
    display: inline-block;
    vertical-align: top;
    padding-top: 5em;
    text-align: center;
}
.light-button{
    background-color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 2em;
    width: 70%;
}
.light-button:hover{
    background-color: #0061ff;
    color: white;
    border: none;
}
.faq li{
    list-style-type: none;
    padding: 1em 0;
    font-size: 0.8em;
    font-weight: 800;
}
.fa-chevron-down{
    display: inline-block;
    padding-right: 1em;
}

/* .faq li:hover{

} */
/* Footer */
.footer-width{
    padding: 4em 8em;
    background-color: black;
}
.sub-section{
    width: 100%;
}
footer ul{ 
    width: 20%;
}
footer ul li{
    
    list-style-type: none;
    font-size: 0.7em;
    font-weight: 600;
    padding-bottom: 0.7em;
}
footer a{
    color: white;
    text-decoration: none;
}
footer ul li:first-child{
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 1em;
}
footer hr{
    background-color: grey;
    border: solid 1px ;
    width: 10%;
    margin-top: 5em;
}
.fa-sort-up{
    vertical-align: sub;
}